@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.card {
  padding: 0;
  box-shadow: 0px 0px 16px 0px #a0a0a0;
}
.card-title{
    border-bottom: 2px solid #005555;
    width: fit-content;

}


.card-title span{
    color: #005555;
    font-weight: 800;
}


.img-zoom{
  transition: all 1s;
  overflow: hidden;
}

.img-zoom img {
  transition: all 1s;
  height: 300px;
}

.img-zoom img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  transition: all 1s;
}

.card-text{
    font-size: small;
    color: #5f5f5f;
} 

.card .card-city{
    font-size: 1.3rem;
    font-weight: 800;
}




.icon{
  color: #fff;
  background-color: #005555;
  border: none;
}


.icon:hover{
  color: #fff;
  background-color: #005555;
  border: none;
}



.buttons{

  
}

.btn:focus{
  outline: none;
box-shadow: none;
}

.btn-ajouter{
  margin: 0 auto;
  display: block;
  color: #fff;
  background-color: #005555;
  border: none;
}


.btn-ajouter:hover{

  color: #fff;
  background-color: #005555;
  border: none;

}

.botton{
  color: #fff;
  background-color: #005555;
  border: none;
}

.botton:hover{
  color: #fff;
  background-color: #005555;
  border: none;
}




/* .navPaginit{
  justify-content: center;
} */




ul li{
  list-style: none;
}

ul li a{
  text-decoration: none !important;
}

li a{
  text-decoration: none !important;
  color: #fff;
  font-size: 1rem;
}

li a:hover{

color: #fff;

}
.logo{
  text-decoration: none !important;

}
a{
  text-decoration: none !important;
}

.text-dark{

  color: black;

}

.spanNav{
  margin-left: 8px;
  color: #a0a0a0;
  font-size: 0.8rem;
  margin-top: 3px;
}


.logo{
  font-size: 1.7rem;
}

ol, ul{
  padding: 0;
}



/* .site-menu{
  margin-right: 15rem;
} */

.site-menu li{

  margin-left: 2rem;

}

.menu-bg-wrap{
  background-color: #005555;
  padding: 20px 30px;
  position: relative;
  float: left;
  width: 100%;
  border-radius: 7px;
  -webkit-box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.1);
  height : 5rem ;
}

















@keyframes slideTop {
        0% {
          transform: translateY(50%);
          opacity: 0.2;

        }
        100% {
          transform: translateX(0);
        }
      }
      .slideTop{
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-name: slideTop;
      }

